
@{
    ViewBag.Title = "PolíticasAgencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container px-6 px-lg-5 my-5 text-lg-center" >

    <h2>POLITICAS DE DATOS PERSONALES</h2>
</div>
<link href="~/Content/Site.css" rel="stylesheet" />
@*<img src="C:\Users\51963\Pictures\logoprueba" border="0" />*@
<div class="container px-4 px-5 my-5 text-black-50">

    <div style="display: block; ">
        <p class="title">TRATAMIENTO DE DATOS PERSONALES PARA OTROS USOS</p> 
        <p>
            En cumplimiento de lo dispuesto por la Ley N° 29733, Ley de Protección de Datos Personales y su reglamento
            aprobado por Decreto Supremo N° 003-2013-JUS, AGENCIA YACHAY PERU TOURS desea poner en conocimiento de sus usuarios,
            los siguientes aspectos relacionados con sus datos personales:
        </p>
        <p style="padding-left:15px;">
            <strong>1. IDENTIDAD Y DOMICILIO DEL TITULAR DEL BANCO DE DATOS PERSONALES</strong><br>
            El titular del presente banco de datos en el que se almacenarán los datos personales facilitados en la presente solicitud
            es AGENCIA YACHAY PERU TOURS, con RUC N° 20100070970, con domicilio en la Urbanización Los Ficus, Santa Anita, Lima, Perú.<br>
            La existencia de este banco de datos personales ha sido declarada a la Autoridad Nacional de Protección de Datos Personales,
            mediante su inscripción en el Registro Nacional de Protección de Datos Personales con la denominación “Clientes” y el código: RNPDP N° 1669.<br>
            Se informa al usuario que, cualquier tratamiento de datos personales, se ajusta a lo establecido por la legislación en Perú en la materia (Ley N° 29733 y su reglamento).
        </p>
        <br>
        <p style="padding-left:15px;">
            <strong>2. FINALIDAD</strong><br>
            Los datos personales que nuestros clientes/usuario introducen en los diferentes formularios del sitio web serán tratados
            por AGENCIA YACHAY PERU TOURS para las siguientes finalidades, en función al formulario que se trate:<br>
        <p style="padding-left:15px;">
            <strong>a. Libro de Reclamaciones:</strong> gestionar sus reclamos y poder contactarlo a fin de resolver los mismos.
        </p>
        <!-- <p style="padding-left:15px;">
            <strong>Recibe las mejores ofertas:</strong> gestionar la solicitud de suscripción a ofertas, promociones, beneficios y descuentos
             (personalizadas o generales) de productos y/o servicios. A fin de que dicho servicio sea personalizado y reciba publicidad,
              obsequios, información de ofertas y/o promociones de su interés (vía medio físico, electrónico o telefónico), AGENCIA YACHAY PERU TOURS
               podrá utilizar sus datos para gestionar listas de clientes, realizar estudios de mercado y evaluaciones, analizar su historial de compra
                y elaborar un perfil de compra, así como para fines estadísticos o históricos, que le permitan identificar las promociones que se adecuen a su perfil.
        </p> -->
        <p style="padding-left:15px;">
            <strong>b. Inicio de sesión:</strong> gestionar su solicitud de inicio de sesión para las compras en la tienda online, así como el seguimiento al proceso de compra iniciado y guardado de historial para futuras compras.
        </p>
        <p style="padding-left:15px;">
            <strong>c. Datos de compra:</strong> gestionar, procesar, atender y hacer seguimiento de satisfacción a su solicitud de compra/contrato de comercio electrónico.
        </p>
        <p style="padding-left:15px;">
            Para dichas finalidades, AGENCIA YACHAY PERU TOURS podrá valerse de encargados de tratamiento que se identifican
            en el <a href="@Url.Action("TérminosAgencia","Tienda")"
                     target="_blank">enlace</a>, algunos de los cuales
            se encuentran situados fuera del Perú, por lo que se producirá una transferencia internacional (flujo transfronterizo) de datos personales.
        </p>
        <p style="padding-left:15px;">
            Sus datos personales sólo serán utilizados con propósitos limitados, según lo expuesto precedentemente.
            No serán compartidos con terceros, salvo brinde su consentimiento expreso y/o obligación legal.
        </p>
        <p style="padding-left:15px;">
            Según corresponda, el formulario de recopilación de datos contiene algunos campos de carácter obligatorio. En caso decida no proporcionarlos,
            no será posible gestionar la solicitud y/o contrato antes referidos. Si decides ingresar los datos,
            declaras y certificas que ellos corresponden a ti y que son verdaderos, exactos, auténticos, completos, y correctos; y que eres mayor de edad.
        </p>

    
        <br>
        <p style="padding-left:15px;">
            <strong>3. PLAZO DE CONSERVACIÓN DE LOS DATOS Y MEDIDAS DE SEGURIDAD</strong><br>
            Los datos personales proporcionados se conservarán mientras no solicite su cancelación. AGENCIA YACHAY PERU TOURS tiene
            implementadas las medidas técnicas, organizativas y legales que garantizan la seguridad y confidencialidad de los datos personales.
        </p>
        <br>
        <p style="padding-left:15px;">
            <strong>
                4. EJERCICIO DE LOS DERECHOS DE INFORMACION, ACCESO, RECTIFICACIÓN, CANCELACIÓN Y
                OPOSICIÓN DE LOS DATOS
            </strong><br>
            Como titular de sus datos personales, el usuario tiene el derecho de acceder a sus datos en posesión de AGENCIA YACHAY PERU TOURS;
            conocer las características de su tratamiento, rectificarlos en caso de ser inexactos o incompletos; solicitar sean suprimidos o
            cancelados al considerarlos innecesarios para las finalidades previamente expuestos o bien oponerse a su tratamiento para fines
            específicos. El usuario podrá en todo momento revocar el consentimiento otorgado expresamente, tanto como limitar el uso o
            divulgación de sus datos personales.
            <br>
            El usuario podrá dirigir su solicitud de ejercicio de los derechos en los términos que establece el Reglamento de
            la Ley N°29733 a <a href="https://www.gob.pe/institucion/congreso-de-la-republica/normas-legales/243470-29733"<i> Reglamentos </i></a> o en nuestra sede administrativa con Dirección en la Urbanización Los Ficus,
            Santa Anita, Lima - Perú.



        </p>
        <br>

    </div>
    <br />
</div>
