
@{
    ViewBag.Title = "QuienesSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- QUIENES SOMOS-->
<section class="page-section" id="quienessomos">


    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">SOMOS UNA EMPRESA PYME DESDE EL 2013</h1>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5 my-5">
        <div style="display: block; margin-top:5px; ">
 @*<p class="title">TRATAMIENTO DE DATOS PERSONALES PARA OTROS USOS</p>*@
            <p>
                <strong>NUESTROS CLIENTES: </strong>
                Contamos con una cartera de clientes de lo más extensa y variada, en el Perú somos distribuidores de viajes de los principales sistemas de lealtad y estamos
                comprometidos con la cultura, mostrando nuestro apoyo en el rubro a través de auspicios. Nos prefieren más de 200 personas, del distrito y regiones que brindamos servicio de turismo.
                En el área de turismo receptivo, estamos seguros de contar con los requisitos que nos harán su mejor socio.
                El equipo de turismo receptivo conoce todo el Perú, sus recursos e infraestructura turística. Ofrecemos nuestra experiencia para brindar a sus clientes el mejor servicio y atención.
            </p>
            <p>
                <strong>MISIÓN: </strong>
                Ser la empresa líder en turismo ofreciendo servicios de calidad para satisfacción de los clientes, obteniendo la mayor rentabilidad y participación del mercado que nos permita crecer personas y como empresa.
            </p>
            <p>
                <strong>VISIÓN: </strong>
                Mantenernos como líderes en el sector turismo, basados en un grupo humano cohesionado, capacitado y con vocación de servicio, enfocados
                en los clientes dentro de un entorno de constante innovación, dinamismo, rentabilidad y competitividad.
            </p>


            <br />

        </div>
        <br />

    </div>

</section>
