
@{
    ViewBag.Title = "TérminosAgencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container px-6 px-lg-5 my-5 text-lg-center">

    <h2>TÉRMINOS Y CONDICIONES</h2>
</div>

<link href="~/Content/Site.css" rel="stylesheet" />
@*<img src="C:\Users\51963\Pictures\logoprueba" border="0" />*@
<div class="container px-4 px-5 my-5">

    <div style="display: block; margin-top:5px; ">
        <!-- <p class="title">TRATAMIENTO DE DATOS PERSONALES PARA OTROS USOS</p> -->

        <p>
            Bienvenido a <strong>Agencia Yachay Perú</strong> online y su página de ecommerce <a href="@Url.Action("Index","Tienda")">Agencia Yachay Perú</a> , constituida bajo las leyes peruanas, cuya actividad principal es 
            permitir la exhibición y comercialización de paquetes turísticos en sus diferentes categorías.
            <br>
            1. El sitio web <a href="@Url.Action("Index","Tienda")">Agencia Yachay Perú</a>  es controlado y operado por la empresa donde establece los Términos y Condiciones 
            del sitio web que a su vez incluyen las Políticas de Privacidad, Políticas de Seguridad y Políticas del MINCETUR y descritas en legislación del sitio web.
            <br>
            2. El uso y acceso a este sitio web se rige por estos Términos y Condiciones, así como a la vigente en la República del Perú. En consecuencia, todas las visitas, 
            transacciones que se realicen en este sitio, así como sus efectos jurídicos, quedarán regidos por estas reglas y sometidos a la legislación aplicable en Perú.
            <br>
            3. Los Términos y Condiciones del sitio web <a href="@Url.Action("Index","Tienda")">Agencia Yachay Perú</a> comprendidos en este documento se aplicarán y 
            se entenderá que forman parte de todos los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos en este
            ecommerce entre los usuarios de este sitio.

        </p>

        <br />

    </div>
    <br />
</div>
